* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.container {
    width: 1200px;
    height: 800px;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    gap: 1em;
}

.row {
    border-radius: 1em;

    &.row-1 {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &.row-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &.row-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.col {
    flex: 1;
    border-radius: 1em;
    display: flex;
    gap: 1em;

    &.col-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.col-box {
    border: 2px solid red;
    flex: 1;    
    border-radius: 1em;
    transition: 0.3s ease-in-out;
    
    &:hover {
        transform: scale(1.02);
        border: 2px solid blue;
    }
}

.box {
    flex: 1;
    border: 2px solid red;
    border-radius: 1em;
    transition: 0.3s ease-in-out;
    transform: scale(1.02);

    &:hover {
        transform: scale(1.02);
        border: 2px solid blue;
    }

}

@media(max-width: 1024px){
    .container {
        flex-direction: column;
    }

    .row {
        &.row-1 {
            flex-direction: row;
        }

        &.row-2 {
            flex-direction: row;
        }

        &.row-3 {
            flex-direction: row;
        }
    }

    .col {
        /* flex: 2;
        flex-direction: column; */
    }
}

@media(max-width: 650px){
    .container {
        max-width: 900px;
        max-height: 550px;
        gap: 0.5em;
    }

    .row {
        gap: 0.5em;
    }

    .col {
        gap: 0.5em;
    }
}