    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebe4d6;
        color: #446a43;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.1em;
    }

    nav {
        width: 1200px;
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 2em;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        gap: 1.5em; 
    }
    
    nav li {
        margin: 0;
        padding: 0;
    }
    
    nav a {
        text-decoration: none;
        font-size: 0.8rem;
        transition: color 0.3s ease;
        color: #ab6465;
        font-weight: 200;
        letter-spacing: 0.5em;
    }
    
    nav a:hover {
        color: #ee929c;
    }

    header {
        width: 1200px;
        text-align: center;
        margin-bottom: 2em;
        border-radius: 1em;
        padding: 2em;
        margin-top: 4.5em;
    }
    
    header h1 {
        font-size: 3.5rem;
        color: #ab6465;
        font-weight: 800;
        color: #446a43;
    }
    header p {
        font-size: 1.2rem;
        color: #446a43;
        letter-spacing: 0.3em;
    }

    a {
        color: #ab6465;
        text-decoration: none;
        transition: color 0.3s ease;
    
        &:hover {
            color: #6db36c;
            text-decoration: underline;
        }
    }

    .container {
        width: 1200px;
        height: 2200px;
        border-radius: 1em;
        padding: 2em;
        display: flex;
        gap: 1em;
        flex-direction: column; 
    }

    .col {
        display: flex;
        gap: 1em;
    }

    .col.col-1, .col.col-2, .col.col-3, .col.col-4 {
        flex: 2;
    }

    .row {
        border-radius: 1em;
        flex: 1;
        gap: 1em;
        display: flex;
        flex-direction: row; 
    }

    .row.row-2, .row.row-3, .row.row-4, .row.row-5 {
        flex-direction: column;
    }

    .row.row-5 {
        flex: 2;
    }

    .row-box {
        flex: 1;    
        border-radius: 1em;
        transition: 0.3s ease-in-out;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        &:hover {
            transform: scale(1.02);
        }
    }

    footer {
        width: 100%;
        text-align: center;
        padding: 1em 0;
        margin: 50px;
        position: relative;
        bottom: 0;
    }

    .box-1 {
        background-image: url('images/1.jpg');
    }

    .box-2 {
        background-image: url('images/2.jpeg');
    }

    .box-3 {
        background-image: url('images/3.jpeg');
    }

    .box-4 {
        background-image: url('images/4.jpeg');
    }

    .box-5 {
        background-image: url('images/5.jpg');
    }

    .box-6 {
        background-image: url('images/6.jpeg');
    }

    .box-7 {
        background-image: url('images/7.jpeg');
    }

    .box-8 {
        background-image: url('images/8.jpeg');
    }

    .box-9 {
        background-image: url('images/9.jpeg');
    }

    .box-10 {
        background-image: url('images/10.jpeg');
    }

    .box-11 {
        background-image: url('images/11.jpeg');
    }

    @media (max-width: 1024px) {

        .container {
            max-width: 100%;
            padding: 1em;
        }
        
        nav {
            max-width: 100%;
            padding: 1em;
        }
    
        nav ul {
            align-items: center;
            gap: 1em;
        }
    
        nav a {
            letter-spacing: normal;
            font-size: 1rem;
        }
    }

    @media (max-width: 650px) {
        body {
            font-size: 0.7rem;
        }
    
        .container {
            max-width: 100%;
            padding: 1em;
        }

        header h1 {
            font-size: 2rem;
        }
    
        footer p {
            font-size: 0.8rem;
        }
    
        nav a {
            font-size: 0.9rem;
        }
    }